extends ../layout

block content
  h2 Visualizar eventos
  br
  form(method="GET", action="/eventos/edit/#{value._id}", role="form")
    div(class="from-group")
			label Título:
			input(type="text", name="titulo", class="form-control", placeholder="Bazar", value="#{value.nome}" disabled="disabled")
			br
    div(class="from-group")
      label Login:
      input(type="text", name="login", class="form-control", value="#{value.login}", disabled="disabled")
      br
    div(class="form-group")
      label Id:
      input(type="text", name "senha", class="form-control", value="#{value._id}", disabled="disabled")
    div(class="form-group")
        label Data de cadastro:
        input(type="text", name "data", class="form-control", value="#{value.data_cad}", disabled="disabled")
    div(class="form-group")
      br
      a(href="/eventos" title="Voltar",class="btn btn-info") Voltar

extends ../layout
block content
	h2 Editar eventos
	br
		div(class="from-group")
			label Título:
			input(type="text", name="titulo", class="form-control", placeholder="Bazar", value="#{value.nome}" required)
			br
		div(class="from-group")
			label Subtítulo:
			input(type="text", name="subtitulo", class="form-control", placeholder="Bazar beneficente para roupa.", value="#{value.subtitulo}" required)
			br
		div(class="from-group")
			label Data:
			input(type="text" id="dataEvento" name="dataEvento", placeholder="00/00/0000", class="form-control", maxlength="10", value="#{value.data}", onblur="validarData(this);")
			br
		div(class="from-group")
			label Descrição:
			textarea(class="form-control" name="descricao" rows="6" value="#{value.descricao}" placeholder="")
			br
		div(class="form-group")
			input(type="submit", value="Cadastrar",class="btn btn-success")
			br
		a(href="/eventos" title="Voltar",class="btn btn-info") Voltar